html, body {
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
	margin: 20px;
	width: 1200px;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #849d8f;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
}

.btn {
	background-color: #ec593c;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 2px 2px 0 #550800;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.btn-shop-now {
	font-size: 32px;
	line-height: 44px;
}

.btn:hover, .btn:focus {
	background-color: #f17c64;
	box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
	background-color: #ec593c;
	box-shadow: inset 0 2px 2px 0 #550800;
}

.h1-heading {
	font-size: 35px;
	line-height: 1;
}

.h2-heading {
}

.h3-heading {
	font-size: 16px;
	line-height: 22px;
}

.promo-heading {
	font-size: 60px;
	text-align: center;
}

.catalog-heading {
	text-align: left;
}

.banner-heading {
	font-size: 35px;
	line-height: 41px;
}

.header-menu {
	line-height: 18px;
}

.header-menu a, .drop-down-catalog a {
	color: #fff;
	padding: 10px 15px;
	line-height: 18px;
}

.header-menu a:hover, .header-menu a:focus {
	color: #333;
	text-decoration: none;
	background-color: #f7f6f3;
	border-radius: 15px;
}

.header-menu a:active {
	color: #333;
	text-decoration: none;
	background-color: #ededed;
	border-radius: 15px;
	box-shadow: inset 0 2px 2px gray;
}

.drop-down-catalog {
	width: 145px;
	background-color: #f8f7f4;
	border-radius: 5px;
	padding-left: 0;
	display: none;
}

.drop-down-catalog li {
	list-style: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 20px;
}

.drop-down-catalog li:first-child {
	font-weight: bold;
	box-shadow: 0px 11px 0px -10px #d1d0ce;
}

.drop-down-catalog a {
	color: #333;
	text-decoration: none;
	padding: 0;
}

.drop-down-catalog li:hover,
.drop-down-catalog li:focus,
.drop-down-catalog a:hover,
.drop-down-catalog a:focus {
	background-color: #fbded7;
	border-radius: 0;
}

.drop-down-catalog li:active,
.drop-down-catalog a:active {
	background-color: #f6b5a5;
	border-radius: 0;
	box-shadow: none;
}

.breadcrumbs a {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs a:last-child {
	text-decoration: none;
}

.modal {
	background-color: #f8f7f4;
	border-radius: 5px;
	color: #323232;
	font-size: 13px;
	font-weight: normal;
	display: none;
}

.modal a {
	color: #323232;
}

.modal a:hover, .modal a:focus, .modal a:active {
	color: #e84d37;
}

.promo-slider-controls {
}

.promo-slider-controls label {
	font-size: 0;
	display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

input[type=radio] {
	display: none;
}

#promo-1:checked ~ .promo-slider-controls label[for="promo-1"],
#promo-2:checked ~ .promo-slider-controls label[for="promo-2"],
#promo-3:checked ~ .promo-slider-controls label[for="promo-3"] {
	background-color: white;
}

#promo-1:checked ~ .promo-slider-inner .slides {
	transform: translate(0);
}

#promo-2:checked ~ .promo-slider-inner .slides {
	transform: translate(-1200px);
}

#promo-3:checked ~ .promo-slider-inner .slides {
	transform: translate(-2400px);
}

.banner {
	width: 560px;
	height: 230px;
	border-radius: 15px;
}

.banner-left {
	background-color: #621021;
	background-image: url(../img/rasp-bg.jpg);
	background-repeat: no-repeat;
}

.banner-right {
	background-color: #40271c;
	background-image: url(../img/choco-bg.jpg);
	background-repeat: no-repeat;
}

/*.hits {
	height: 400px;
}*/

.hits-item-title a {
	color: #fff;
}

.seo {
	height: 307px;
	background-color: #e0d7bb;
	background-image: url(../img/seo-bg.jpg);
	background-repeat: repeat;
	border-radius: 10px;
}

.seo-title {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.seo ul {
	color: #323232;
	font-weight: normal;
}

.news-spam {
	height: 220px;
}

.news-title {

}

.news {
	width: 560px;
	color: #323232;
	background-color: #fff;
	background-image: url(../img/news.jpg);
	background-repeat: no-repeat;
	border-radius: 15px;
}

.news a {
	color: inherit;
}

.spam {
	width: 560px;
	color: #5a5a5a;
	font-weight: normal;
	background-color: #fff;
	background-image: url(../img/spam.jpg);
	background-repeat: no-repeat;
	border-radius: 15px;
}

.map {
	width: 100%;
	height: 430px;
	background-color: #e0e1d1;
}

.question-title {

}

.header-contacts p {
	font-size: 14px;
	line-height: 16px;
}

.header-contacts a {
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

.catalog-item {
	text-align: center;
	width: 293px;
	padding: 6px 13px 22px 13px;
}

.catalog-item:hover, .catalog-item:focus {
	background-color: #9db1a5;
	border-radius: 5px;
}

.contacts {
	color: #323232;
	background-color: #eef0ef;
	border-radius: 10px;
	font-size: 18px;
	line-height: 24px;
}

.contacts:nth-child(1),
.contacts:nth-child(2),
.contacts:nth-child(5),
.contacts:nth-child(7) {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}

.contacts a:nth-child(6) {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	padding-left: 0;
	font-size: 18px;
	line-height: 22px;
}

.pagination a {
	color: #fff;
	text-decoration: none;
	line-height: 18px;
	margin-left: 10px;
}

.pagination .active {
	color: #353535;
	background-color: #fff;
	border-radius: 50%;
	padding: 5px 10px 5px 10px;
}

.page-footer a {
	color: #fff;
	font-weight: normal;
}

.footer-nav {
	list-style: none;
	font-size: 13px;
	line-height: 16px;
}

.footer-nav li:nth-child(1) a {
	font-weight: bold;
}

.footer-copyright {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*flex positioning*/

.page-header {
	display: flex;
	/*border: 1px solid red;*/
	justify-content: space-between;
}

.nav-wrapper {
	display: flex;
	margin-top: 30px;
}

.header-logo {
	margin-top: -20px;
}

.header-menu {
	
}

.header-user-menu {
	flex-basis: 270px;
}

.header-user-navigation {
	display: flex;
	justify-content: space-around;
	margin-top: 12px;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.promo-slider-inner {
	
	overflow: hidden;
}

.promo-slider-slides {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 680px;
	flex-shrink: 0;
	padding-left: 260px;
	padding-right: 260px;
	height: 650px;
}

.slides {
	display: flex;
	flex-basis: 1200px;
	align-items: center;
    transition: transform 0.8s ease;
}

.banners {
	display: flex;
	justify-content: space-around;
}

.hits {
	display: flex;
	justify-content: space-around;
}

.news-spam {
	display: flex;
	justify-content: space-around;
}

.catalog-items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.catalog-item {
	flex-basis: 274px;
}

.pagination {
	/*border: 1px solid red;*/
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
}

.page-footer {
	display: flex;
	justify-content: space-between;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	flex-basis: 315px;
	flex-wrap: wrap;
	padding-left: 0;
}