html, body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.page-wrapper {
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.container {
	padding: 0 27px;
	width: 1200px;
	margin: 0 auto;
}

.catalog-body {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
}

.btn {
	background-image: linear-gradient( 0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	padding: 10px;
	border-radius: 20px/50%;
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
  	cursor: pointer;
  	display: inline-block;
}

.btn-shop-now {
	font-size: 32px;
	line-height: 44px;
	border-radius: 30px/50%;
	padding: 10px 40px;
	margin: 5px;
}

.btn:hover,
.btn:focus {
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	opacity: 0.8;
	box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0 2px 2px 0 #550800;
}

.h1-heading {
	font-size: 35px;
}

.h2-heading {
}

.h3-heading {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.promo-heading {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 20px;
}

.catalog-header {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 30px;
}

.banner-heading {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
}

.header-navigation-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 117px;
}

.header-menu {
	line-height: 18px;
	position: relative;
}

.header-menu a, .drop-down-catalog a {
	color: #fff;
	padding: 8px 14px;
	line-height: 18px;
}

.header-menu a:hover,
.header-menu a:focus {
	color: #333;
	text-decoration: none;
	background-color: #f7f6f3;
	border-radius: 20px/50%;
}

.header-menu a:active {
	color: #333;
	text-decoration: none;
	background-color: #ededed;
	border-radius: 20px/50%;
	box-shadow: inset 0 2px 2px gray;
}

.active-page {
	background-color: #d07058;
	text-decoration: none;
	border-radius: 20px/50%;
}

.active-page-catalog {
	background-color: #d07058;
}

.drop-down-catalog {
	min-width: 145px;
	background-color: #f8f7f4;
	border-radius: 5px;
	padding-left: 0;
	display: none;
	position: absolute;
	z-index: 10;
}

.drop-down-menu:hover + .drop-down-catalog,
.drop-down-menu:focus + .drop-down-catalog {
	display: block;
}

.drop-down-catalog li {
	list-style: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 20px;
}

.drop-down-catalog li:first-child {
	font-weight: bold;
	box-shadow: 0px 11px 0px -10px #d1d0ce;
}

.drop-down-catalog a {
	color: #333;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.active-page-catalog a {
	color: #fff;
}

.drop-down-catalog li:hover,
.drop-down-catalog li:focus,
.drop-down-catalog a:hover,
.drop-down-catalog a:focus {
	background-color: #fbded7;
	border-radius: 0;
}

.drop-down-catalog li:active,
.drop-down-catalog a:active {
	background-color: #f6b5a5;
	border-radius: 0;
	box-shadow: none;
}

.header-user-menu {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.breadcrumbs {
	margin-top: auto;
}

.bc-nav {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	margin-right: 17px;
	position: relative;
}

.bc-nav::after {
	content: "";
}

.bc-nav-active {
	text-decoration: none;
	margin-right: 0;
}

.modal {
	background-color: #f8f7f4;
	color: #323232;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	right: 0;
	border-radius: 6px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
	display: none;
	z-index: 10;
}

.modal-search {
	height: 85px;
	width: 342px;
}

.input-field {
	flex-grow: 1;
	color: #999;
	border-style: solid;
 	border-width: 1px;
  	border-color: #d3d3d3;
  	border-radius: 5px;
  	background-color: #fff;
  	font-size: 14px;
  	line-height: 24px;
  	padding: 10px;
  	margin: 20px 15px;
}

.input-field:hover,
.input-field:focus {
	border-color: #9a9a9a;
}

.input-field:active {
	border-color: #2e88e4;
}

.modal-login {
	width: 277px;
	height: 214px;
	flex-direction: column;
}

.modal-login .input-field {
	margin-bottom: 10px;
}

.modal-login input[type=password] {
	margin-top: 10px;
}

.modal-login-enter {
	display: flex;
	margin: 20px 15px;
	margin-top: 10px;
	justify-content: flex-start;
}

.btn-enter {
	margin-right: 15px;
	min-width: 100px;
}

.modal-login-forgot {
	display: flex;
	flex-direction: column;
}

.modal-login-forgot a {
	text-decoration: underline;
	font-size: 13px;
	line-height: 20px;
}

.modal-cart {
	width: 539px;
	height: 242px;
	flex-direction: column;
	line-height: 16px;
	padding: 20px 15px;
}

.modal-cart span {
	opacity: 0.7;
}

.modal-contact-us {
	border-radius: 10px;
	width: 478px;
	min-height: 443px;
	padding: 25px;
	bottom: 0;
	right: 0;
	flex-direction: column;
}

.modal-contact-us .input-field {
	margin: 10px 0;
	min-width: 265px;
	flex-grow: 0;
}

.modal-contact-us textarea {
	width: 100%;
	margin: 10px 0;
	min-height: 150px;
}

.form-contact-us {
	display: flex;
	flex-wrap: wrap;
}

.btn-send-question {
	padding: 10px 25px;
	margin-left: auto;
	margin-top: 15px;
}

.cart-table img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 23px;
}

.cart-table td:not(:first-child) {
	padding-left: 10px;
}

.cart-table td:first-child {
	position: relative;
}

.cart-table td:first-child::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 0;

	background-image: url("../img/cross-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cart-table td:nth-child(2) {
	width: 250px;
}

.cart-table td:nth-child(3),
.cart-table td:last-child {
	text-align: center;
}

.cart-table td:last-child {
	width: 85px;
}

.total {
	align-self: flex-end;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}

.btn-order {
	min-width: 170px;
	align-self: center;
}

.modal a {
	color: #323232;
}

.modal a:hover,
.modal a:focus,
.modal a:active {
	color: #e84d37;
}

.promo {
	margin-bottom: 20px;
}

.promo-slider-controls {
	position: absolute;
	top: 560px;
}

.promo-slider-controls label {
	font-size: 0;
	display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

.promo-slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

input[type=radio] {
	display: none;
}

#promo-1:checked ~ .page-wrapper .promo-slider-controls label[for="promo-1"],
#promo-2:checked ~ .page-wrapper .promo-slider-controls label[for="promo-2"],
#promo-3:checked ~ .page-wrapper .promo-slider-controls label[for="promo-3"] {
	background-color: white;
}

#promo-1:checked ~ .page-wrapper {
	background-color: #849d8f;
	background-image: url(../img/promo-1.jpg);
}

#promo-2:checked ~ .page-wrapper {
	background-color: #8996a6;
	background-image: url(../img/promo-2.jpg);
}

#promo-3:checked ~ .page-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/promo-3.jpg);
}

.banner {
	width: 560px;
	min-height: 230px;
	border-radius: 15px;
	padding: 20px;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
}

.banner p {
	margin-top: 12px;
	font-size: 18px;
}

.banner-left {
	background-color: #621021;
	background-image: url(../img/rasp-bg.jpg);
}

.banner-right {
	background-color: #40271c;
	background-image: url(../img/choco-bg.jpg);
}

.btn-add-jam, .btn-add-choco {
	margin-left: auto;
	margin-top: auto;
	padding: 10px 20px; 
}

.hits-item-title {
	margin-top: 13px;
	padding: 0 10px;
}

.hits-item-title a {
	color: #fff;
}

.price {
	font-size: 48px;
	font-weight: 500;
	position: absolute;
	top: 170px;
	left: 0px;
}

.price span {
	font-size: 30px;
}

.seo {
	min-height: 307px;
	background-color: #e0d7bb;
	background-image: url(../img/seo-bg.jpg);
	background-repeat: repeat;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 20px;
}

.seo-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.seo ul {
	color: #323232;
	font-weight: normal;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.seo li {
	flex-basis: 535px;
	flex-shrink: 0;
	padding-bottom: 25px;
	position: relative;
	padding-left: 55px;
}

.seo li::before {
	content: "";
	position: absolute;
	width: 52px;
	height: 52px;
	top: -10px;
	left: -5px;

	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.seo li:nth-child(2)::before {
	background-image: url("../img/cow.svg");
}

.seo li:nth-child(3)::before {
	background-image: url("../img/eco.svg");
}

.seo li:nth-child(4)::before {
	background-image: url("../img/thermometer.svg");
}

.news-spam {
	min-height: 220px;
	margin-top: 40px;
}

.news-title {
	font-weight: 500;
	font: inherit;
	margin-top: 2px;
	margin-bottom: 5px
}

.news {
	width: 560px;
	color: #323232;
	background-color: #fff;
	background-image: url(../img/news.jpg);
	background-repeat: no-repeat;
	background-position: -50px -220px;
	border-radius: 15px;
	padding: 20px;
}

.news a {
	display: inline-block;
	color: inherit;
	font-size: 24px;
	line-height: 30px;
	width: 300px;
}

.spam {
	width: 560px;
	color: #5a5a5a;
	font-weight: normal;
	background-color: #fff;
	background-image: url(../img/spam.jpg);
	background-repeat: no-repeat;
	border-radius: 15px;
	padding: 20px 25px;
}

.spam p {
	margin-bottom: 32px;
}

.spam input {
	width: 370px;
	line-height: 24px;
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
	border-radius: 5px;
	height: 43px;
	padding-left: 16px;
}

.btn-send-email {
	padding: 10px 15px;
	margin-left: 8px;
}

.map {
	width: 100%;
	height: 430px;
	/*background-color: #e0e1d1;*/
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: 50% -110px;
	margin-top: 40px;
}

.question-title {
	font-size: 24PX;
	line-height: 28px;
	margin: 0;
	margin-bottom: 10px;
}

.header-contacts p {
	font-size: 14px;
	line-height: 16px;
}

.header-contacts a {
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

.filters {
	font-weight: 500;
}

.map .container {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.contacts::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 140px;
	top: 80px;
	right: 825px;

	background-image: url("../img/pin.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.contacts {
	color: #323232;
	background-color: #eef0ef;
	border-radius: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	flex-basis: 300px;
	margin-top: 62px;
	padding-left: 24px;
	padding-top: 29px;
	min-height: 300px;
	align-self: center;
	position: relative;
}

.contacts b {
	font-size: 18px;
	line-height: 24px;
}

.contacts a:nth-child(6) {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	padding-left: 0;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 2px;
}

.contacts p {
	margin-top: 0;
	margin-bottom: 1px;
}

.contacts p:nth-child(3) {
	margin-bottom: 0;
}

.contacts p:nth-child(4) {
	margin-bottom: 17px;
}

.contacts p:nth-child(5) {
	margin-bottom: 5px;
}

.contacts p:nth-child(7) {
	margin-top: 2px;
	margin-bottom: 28px;
}

.btn-contact-us {
	padding: 10px 25px;
	/*position: relative;*/
}

.btn-contact-us:hover + .modal-contact-us {
	display: flex;
}

.pagination a {
	color: #fff;
	text-decoration: none;
	line-height: 18px;
	margin-left: 0;
	padding: 5px 10px 5px 10px;
}

.pagination .active {
	color: #353535;
	background-color: #fff;
	border-radius: 50%;
}

.pagination a:hover:not(.active) {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}


.page-footer a {
	color: #fff;
	font-weight: normal;
}

.footer-nav-list {
	list-style: none;
	font-size: 13px;
	line-height: 16px;
}

.footer-nav-item:nth-child(1) a {
	font-weight: bold;
}

.footer-nav-item:nth-child(2) a {
	margin-right: 55px;
}

.footer-copyright {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*flex positioning*/

.page-header {
	display: flex;
	justify-content: space-between;
}

.nav-wrapper {
	display: flex;
	margin-top: 30px;
	/*flex-basis: 850px;*/
}

.header-logo {
	margin-top: -20px;
}

.header-menu a:not(.drop-down-item) {
	margin-right: -5px;
}

.header-menu a:first-child:not(.drop-down-item) {
	margin-left: 11px;
}

.header-user-menu {
	flex-basis: 270px;
	margin-left: 20px;
}

.header-user-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	padding-top: 5px;
	position: relative;
}

.header-user-navigation div {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px/50%;
}

.header-user-navigation div:hover {
	background-color: #fff;
	color: #323232;
}

.header-user-navigation p {
	margin-top: 8px;
	margin-bottom: 8px;
}


.login-icon,
.header-user-cart-empty .cart-icon,
.cart-icon,
.search-icon {
	position: relative;
}

.header-user-search {
	font-size: 0;
	width: 33px;
	margin-left: 8px;
}

.search-icon::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 21px;
	left: 7px;
	top: -1px;

	background-image: url("../img/loupe-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-user-search:hover p::before,
.header-user-search:focus p::before {
	background-image: url("../img/loupe.svg");
}

.header-user-search:hover .modal-search,
.header-user-search:focus .modal-search {
	display: flex;
}

.header-user-login {
	width: 92px;
	padding-left: 43px;
}

.login-icon::before,
.header-user-cart-empty .cart-icon::before,
.cart-icon::before  {
	content: "";
	position: absolute;
	width: 23px;
	height: 21px;
	left: -28px;
	top: -3px;

	background-image: url("../img/entrance-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-user-login:hover p::before,
.header-user-login:focus p::before {
	background-image: url("../img/entrance.svg");
}

.header-user-login:hover .modal-login,
.header-user-login:focus .modal-login {
	display: flex;
}

.header-user-cart,
.header-user-cart-empty {
	width: 117px;
	padding-left: 43px;
}

.header-user-cart-empty .cart-icon::before {
	background-image: url("../img/basket-off.svg");
}

.header-user-cart-empty:hover .cart-icon::before,
.header-user-cart-empty:focus .cart-icon::before {
	background-image: url("../img/basket.svg");
}

.cart-icon::before {
	background-image: url("../img/basket-red.svg");
}

.header-user-cart:hover .modal-cart,
.header-user-cart:focus .modal-cart {
	display: flex;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-contacts p {
	margin-top: 17px;
	margin-bottom: 5px;
}

.promo-slider-inner {
	overflow: hidden;
	padding-left: 234px;
	padding-right: 234px;
}

.promo-slider-slides {
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	flex-basis: 1146px;
	flex-shrink: 0;/*
	padding-left: 234px;
	padding-right: 234px;*/
	min-height: 490px;
}

#promo-1:checked ~ .page-wrapper .promo-slider-slides:nth-child(1) {
	display: flex;
}

#promo-2:checked ~ .page-wrapper .promo-slider-slides:nth-child(2) {
	display: flex;
}

#promo-3:checked ~ .page-wrapper .promo-slider-slides:nth-child(3) {
	display: flex;
}

/*.slides {
	display: flex;
	flex-basis: 1200px;
	align-items: center;
    transition: transform 0.8s ease;
}*/

.banners {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.hits {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.news-spam {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.filters {
	display: flex;
	width: 860px;
	flex-wrap: wrap;
}

.filters legend {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	padding-left: 15px;
}

.filters fieldset {
	flex-grow: 1;
	border: none;
	padding: 0;
	margin-bottom: 15px;
}

.field-wrapper {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px/50%;
	padding: 7px;
	position: relative;
	min-height: 36px;
	margin-right: 10px;
}

.field-sort {
	min-width: 190px;
}

.field-sort:hover,
.field-sort:focus {
	background-color: #fff;
}

select[id="sorting"] {
	border: none;
	background-color: transparent;
	padding-left: 5px;
	color: #fff;
}

select[id="sorting"]:hover,
select[id="sorting"]:focus {
	color: #000;
}

.field-price {
	min-width: 215px;
}

.field-price:hover {
	cursor: pointer;
}

.field-fat {
	min-width: 415px;
	margin-right: 0;
}

.field-fat input[type="radio"] {
	display: none;
}

.field-fat label,
.field-fill label {
	margin-left: 35px;
	margin-right: 15px;
	position: relative;
}

.field-fat label:last-child,
.field-fill label:last-child {
	margin-right: 0;
}

.field-fat label::before,
.field-fill label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: -2px;
	left: -30px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.8;
}

.field-fat label:hover::before,
.field-fill label:hover::before {
	opacity: 1;
}

#field-fat-1:checked ~ label[for="field-fat-1"]::before,
#field-fat-2:checked ~ label[for="field-fat-2"]::before,
#field-fat-3:checked ~ label[for="field-fat-3"]::before,
#field-fat-4:checked ~ label[for="field-fat-4"]::before {
	background-image: url("../img/radio-on.svg");
	opacity: 1;
}

.field-fill {
	min-width: 700px;
}

.field-fill input[type="checkbox"] {
	display: none;
}

.field-fill label::before {
	background-image: url("../img/checkbox-off.svg");
	border-radius: 0;
}

#choclate:checked ~ label[for="choclate"]::before,
#sugar:checked ~ label[for="sugar"]::before,
#fruit:checked ~ label[for="fruit"]::before,
#sirup:checked ~ label[for="sirup"]::before,
#jam:checked ~ label[for="jam"]::before {
	background-image: url("../img/checkbox-on.svg");
	opacity: 1;
}

.scale {
  position: relative;
  margin-top: 8px;
  height: 4px;
  background-color: rgba(255,255,255,0.5);
}

.bar {
  width: 50%;
  height: 4px;
  background-color: #fff;
  margin-left: 33px;
}

.range-btn {
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  font-size: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.min {
  left: 33px;
}

.max {
  right: 60px;
}

.btn-filters-submit {
	background-color: rgba(255,255,255,0.5);
	background-image: none;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 15px;
	border-radius: 20px/50%;
	border: 2px solid #fff;
	color: #fff;
	margin-top: auto;
	margin-bottom: 15px;
	min-width: 140px;
	cursor: pointer;
}

.btn-filters-submit:hover, 
.btn-filters-submit:focus {
	background-color: #fff;
	color: #000;
}

.btn-filters-submit:active {
	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.2);
	border: none;
	padding: 8px 16px;
}

.catalog-items {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 30px;
}

.catalog-item {
	flex-basis: 274px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	position: relative;
	min-height: 325px;
	text-align: center;
	position: relative;
	margin: 10px 8px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item:nth-child(4n-3) {
	margin-left: 0;
}

.catalog-item::before {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	min-height: 405px;
	top: -7px;
  	right: -14px;
  	bottom: -36px;
  	left: -14px;
  	display: none;
  	content: '';
  	position: absolute;
  	z-index: 10;
}

.catalog-item img {
	border-radius: 50%;
	width: 267px;
	height: 267px;
}

.btn-catalog-item {
	display: none;
	position: absolute;
	left: calc(50% - 100px);
	bottom: -45px;
	margin-bottom: 10px;
  	width: 200px;
}

.hit::after {
	content: "";
	position: absolute;
	width: 62px;
	height: 62px;
	left: 5px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #fff;
	border-radius: 50%;
	z-index: 11;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
	display: block;
}

.catalog-item:hover > *,
.catalog-item:focus > * {
  z-index: 10;
}

.catalog-item:hover .btn-catalog-item,
.catalog-item:focus .btn-catalog-item {
	display: block;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	margin-top: 55px;
}

.page-footer {
	display: flex;
	justify-content: space-between;
}

.footer-nav-list {
	display: flex;
	justify-content: center;
	flex-basis: 560px;
	flex-wrap: wrap;
	padding-left: 0;
	margin: auto;
	margin-top: 35px;
}

.footer-nav-item {
	width: 190px;
	margin-bottom: 5px;
	position: relative;
}

.footer-nav-item:nth-child(1)::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	top: 2px;
	left: -20px;

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-nav-item:nth-child(2n-1) {
	flex-shrink: 2;
	margin-left: 90px;
}

.footer-nav-item:nth-child(2n) {
	flex-grow: 1;
	margin-left: -50px;
}

.footer-social {
	position: relative;
	width: 267px;
}

.social-btn::before {
	content: "";
	position: absolute;
	width: 38px;
	height: 38px;
	top: 37px;
	left: 4px;
	opacity: 0.5;

	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	/*border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);*/
}

.social-btn:nth-child(2)::before {
	background-image: url("../img/instagram.svg");
	left: 53px;
}

.social-btn:nth-child(3)::before {
	background-image: url("../img/fb.svg");
	left: 102px;
}

.social-btn:nth-child(4)::before {
	background-image: url("../img/vk.svg"); 
	left: 151px;
}

.social-btn:hover::before {
	opacity: 1;
}

.footer-copyright {
	position: relative;
}

.footer-copyright a::before {
	content: "";
	position: absolute;
	width: 110px;
	height: 40px;
	top: 18px;
	left: 4px;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-copyright p {
	margin-top: 60px;
}

.modal-show {
	display: flex;
}

.modal-close {
	display: none;
}